.gradient-l{
    left: -50px;
    transform: rotate(98deg);
    border-radius: 100%;
    width: 598px;
  height: 404px;
  background: linear-gradient(180deg, rgba(173, 172, 172, 0) 0%, rgba(3, 159, 253, 0.35) 100%);
  filter: blur(86.6500015258789px);
  }
  @media (max-width: 768px) {
    .gradient-l{
        left: -200px;
    }
  }

  .gradient-r{
    right: -10px;
    transform: rotate(98deg);
    border-radius: 100%;
    width: 598px;
    height: 404px;

    background: linear-gradient(180deg, rgba(173, 172, 172, 0) 0%, rgba(153, 3, 253, 0.35) 100%);
  filter: blur(86.6500015258789px);

  }
 
.textgrad{
    background: linear-gradient(90deg, #6A2ABC 33.63%, #00A3FF 77.4%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}